*,
*:before,
*:after {
    box-sizing: border-box;
}

.media img {
    max-width: 100%;
}

.media2 {
    padding: 10px;
    margin: 0 0 2em !important;
}

.media {
    padding: 10px;
    margin: 0 0 2em !important;
}

.media > .title {
    grid-area: title;
}

.media2 > .title {
    grid-area: title;
}

.media > .img {
    grid-area: img;
}

.media > .content {
    grid-area: bd;
}

.media > .footer {
    grid-area: ft;
}

.media2 > .content {
    grid-area: bd;
}

.media2 > .footer {
    grid-area: ft;
}

.media {
    display: grid;
    grid-column-gap: 20px;
    grid-template-areas: "title" "img" "bd" "ft";
}

.media2 {
    display: grid;
    grid-column-gap: 20px;
    grid-template-areas: "title" "bd" "ft";
}


@media (min-width: 600px) {

    /* clearfix*/
    .media:after {
        content: "";
        display: block;
        clear: both;
    }

    .media > .media {
        margin-left: 160px;
        clear: both;
    }

    .media .img {
        float: left;
        margin: 0 10px 0 0;
        width: 150px;
    }

    .media .footer {
        background-color: #eee;
        padding: 10px;
    }

    .media.media-flip .img {
        float: right;
        margin: 0 0 0 10px;
    }

    .media > * {
        margin: 0 0 0 160px;
    }

    .media.media-flip > * {
        margin: 0 160px 0 0;
    }


    /*here starts*/
    /* clearfix*/
    .media2:after {
        content: "";
        display: block;
        clear: both;
    }

    .media2 > .media2 {
        margin-left: 160px;
        clear: both;
    }

    .media2 .footer {
        background-color: #eee;
        padding: 10px;
    }

    .media2.media2-flip .img {
        float: right;
        margin: 0 0 0 10px;
    }

    .media2 > * {
        margin: 0 0 0 160px;
    }

    .media2.media2-flip > * {
        margin: 0 160px 0 0;
    }

    /*here ends*/
    @supports (display: grid ) {

        /* override */
        .media > *,
        .media.media-flip > * {
            margin: 0;
        }

        .media .img,
        .media.media-flip .img {
            width: auto;
            margin: 0;
        }

        .media:after {
            content: none;
        }

        .media {
            display: grid;
            grid-column-gap: 20px;
            grid-template-columns: 150px 3fr;
            grid-template-rows: auto 1fr auto;
            grid-template-areas: "img title" "img bd" "ft ft";
        }

        .media.media-flip {
            grid-template-columns: 3fr 150px;
            grid-template-areas: "title img" "bd img" "ft ft";
        }

        .media.img-flexie {
            grid-template-columns: minmax(150px, 1fr) 3fr;
        }

        .media.media-flip.img-flexie {
            grid-template-columns: 3fr minmax(150px, 1fr);
        }

        /* nested */
        .media > .media {
            grid-column: 2 / -1;
            margin: 0; /* override */
            margin-top: 1em;
        }

        /*here starts*/
        .media2 > *,
        .media2.media2-flip > * {
            margin: 0;
        }

        .media2 .img,
        .media2.media2-flip .img {
            width: auto;
            margin: 0;
        }

        .media2:after {
            content: none;
        }

        .media2 {
            display: grid;
            grid-column-gap: 20px;
            grid-template-columns: 150px 3fr;
            grid-template-rows: auto 1fr auto;
            grid-template-areas: "img title" "img bd" "ft ft";
        }

        .media2.media2-flip {
            grid-template-columns: 3fr 150px;
            grid-template-areas: "title img" "bd img" "ft ft";
        }

        .media2.img-flexie {
            grid-template-columns: minmax(150px, 1fr) 3fr;
        }

        .media2.media2-flip.img-flexie {
            grid-template-columns: 3fr minmax(150px, 1fr);
        }

        /* nested */
        .media2 > .media2 {
            grid-column: 2 / -1;
            margin: 0; /* override */
            margin-top: 1em;
        }

        /*here starts*/

    }


}
