input[type="text"],
input[type="number"],
select,
textarea,
input[type="password"] {
    padding: 10px;
    color: black !important;
    border: 0;
    box-sizing: border-box;
    width: 100%;
    box-shadow: 0 0 15px 4px rgba(0, 0, 0, 0.06);
}

html,
body {
    padding: 0;
    margin: 0;
    background: url("60bd313f37ebd.jpg") center;
}

#mysubmit:hover {
    background-color: #aaaaaa;
    border-color: #111111;
    color: black;
}

.border-bottom-input {
    border: 0;
    border-bottom: 1px solid #eee;
}

.border-removed-input {
    border: 0;
}

* {
    color: white;
    font-family: Arial, Helvetica, sans-serif;
}

.flex-container {
    display: flex;
}

.myform .flex-container label {
    width: 50%;
}
